# Example Environment variables for bakery_auth_service
ACTIVE_PROFILE=dev
ADMIN_EMAIL=admin@bakery.com
ADMIN_FIRST_NAME=Super
ADMIN_LAST_NAME=Admin
ADMIN_PASSWORD=Admin@123
ADMIN_PHONE=1234567890
AUTH_DB_PASSWORD=auth_password
AUTH_DB_URL=jdbc:postgresql://bakery-auth-db:5432/bakery_auth
AUTH_DB_USER=auth_user
CONFIG_SERVER_URL=http://config-server:8081
EUREKA_URL=http://eureka-server:8082/eureka/
JWT_SECRET=bWVnYVN1cGVyU2VjcmV0S2V5Rm9yQmFrZXJ5QXV0aFNlcnZpY2UyMDI1
REDIS_HOST=bakery-carts-redis
REDIS_PORT_AUTH=6379

SERVER_PORT=8083

ELASTICSEARCH_URIS=http://elasticsearch:9200
KIBANA_URL=http://kibana:5601

SPRING_DOCKER_COMPOSE_ENABLED=false
