# Example Environment variables for bakery_auth_service
ACTIVE_PROFILE=
ADMIN_EMAIL=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_PASSWORD=
ADMIN_PHONE=
AUTH_DB_PASSWORD=
AUTH_DB_URL=
AUTH_DB_USER=
CONFIG_SERVER_URL=
EUREKA_URL=
JWT_SECRET=
REDIS_HOST=
REDIS_PORT_AUTH=

SERVER_PORT=
