CONFIG_SERVER_URL=http://localhost:8021
AUTH_DB_URL=jdbc:postgresql://blubug.me:8001/bakery_auth
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password
REDIS_HOST=blubug.me
REDIS_PORT_AUTH=6379
EUREKA_URL=http://localhost:8761/eureka/
JWT_SECRET=bWVnYVN1cGVyU2VjcmV0S2V5Rm9yQmFrZXJ5QXV0aFNlcnZpY2UyMDI1
ADMIN_FIRST_NAME=Super
ADMIN_LAST_NAME=Admin
ADMIN_EMAIL=admin@bakery.com
ADMIN_PASSWORD=Admin@123
ADMIN_PHONE=1234567890
